/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Merriweather:wght@300;400;700;900&display=swap');

:root {
  /* Primary colors */
  --primary: #388E3C; /* Main brand color */
  --secondary: #81C784; /* Secondary color */
  --dark-grey: #505050; 
  --light-grey: #D3D1D8; /* Light grey */

  /* Background colors */
  --white: #ffffff; /* Background color */
  --black: #000; /* Body text color */

  /* Font and border colors */
  --border-color: #ced4da; /* Default border color */
  --font-color-light: #000000; /* Light text color on dark backgrounds */
  --font-color-dark: #212529; /* Dark text color on light backgrounds */
}

*{
  box-sizing: border-box;
}

.body{
  margin: 0;
}

/* Login & Registration Page */
.login-link {
  color: var(--secondary);
  text-decoration: underline;
}

.regis-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.regis-page {
  padding: 20px;
  width: 100%;
  margin: auto;
}

.mb-3 {
  margin: 15px;
  height: 35px;
  width: 200px;
  font-family: Inter;
}


.form-control {
  height: 35px;
  width: 200px;
}

.btn-primary {
  background-color: #388E3C;
  color:#ffffff;
  margin: 15px;
}

*{
  box-sizing: border-box;
}

.body{
  margin: 0
}

.logo {
  height: 10px;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* font styles */
.title {
  font-size: 32px;
}

.bold {
  font-weight:700;
}

h1 {
  font-size: 48px;
  color:#388E3C;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

.body {
  font-size: 16px;
}

.sans-serif {
  font-family: Inter;
}

.serif {
  font-family: Merriweather;
}

/* Login & Registration Page */
.login-link {
  color: var(--secondary);
  text-decoration: underline;
}

.regis-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.regis-page {
  padding: 20px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  position: fixed;
  top: 0;
  height: 70px;
  width: 100%;
  z-index: 1;
  box-shadow: 0 0 15px #D3D1D8;
}

.logo {
  display: flex;
  align-items: center;
  height: 8em;

}

.navlinks {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.navlinks a {
  margin: 15px;
}

.large-text-logo {
  height: 40vh;
}

.sign-up-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  justify-content: center;
  margin: auto;
}

.request-box {
  width: 700px;        
  height: 400px;       
  background-color: #5bac5e; /* Background color */
  color: white;        
  display: flex;       
  border-radius: 4px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Box shadow for 3D effect */  
}

.within-distance {
  margin: 2px;
  padding-top: 30px;
}

.search {
  margin: 0;
  padding-top: 200px;
}

.add-item {
  margin: 0;
  padding-left: 20px;
  padding-top: 20px;
}

/* decoration */
.deco {
  position: fixed;
  display: flex;
  align-items: center;
}
.deco-one{
  height: 70em;
  bottom: -60em;
  right: -20em;
}

.deco-two{
  height: 40em;
  top: -20em;
  right: -20em;
}

.deco-three{
  height: 10em;
  top: 5em;
  right: 37em;
}

.deco-four{
  height: 12em;
  top: 9em;
  right: 30em;
}
.deco-five{
  height: 5em;
  top: 30em;
  right: 45em;
}

.deco-six{
  height: 3em;
  top: 25em;
  right: 20em;
}

